.Enhanced{
    display:flex;
    flex-direction: column;
    width:50vw;
    gap:30px;
    margin-top: 50px;
    margin-left:100px;
    background-color: #180234;
    padding: 50px;
    border: none;
    border-radius: 30px;
    margin-bottom:20px;
     transition: transform 0.3s ease;
}

.Enhanced:hover{
    transform: scale(1.1);
}

.Enhanced h2{
    color:white;
}

.Search{
     display: flex;
    flex-direction: column;
    gap: 20px;
     padding:10px;
    background-color: #d096ff;
    border-radius: 5px;
}

.Search_text{
      color:white;
    background-color: #57029e;
    height: auto;
    font-size: 23px;
    font-weight: 400;
    width: 350px;
    border: none;
    border-radius: 5px;
    padding:10px;
}
.SButton{
height:50px;
}